body {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-bottom: 5px;
}

.result {
    text-align: center;
}